.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0a1b36;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    height: 40px;
    background-color: #9a7150;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: white;
}

main {
    flex: 1;
}

footer {
    height: 40px;
    background-color: #9a7150;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profileWrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.profile {
}

.profile img{
    margin-bottom: 10px;
    width: 200px;
    border-radius: 50%;
}


.addPost {
    display: flex;
}

.postsWrapper {

}

.posts {

}

.post {
    margin-bottom: 10px;
}

